<div id="grid" style="font-size: smaller">
	<div class=""></div>
	<div class="hdr">Volts</div>
	<div class="hdr">Amps</div>
	<div class="hdr">Battery</div>
	<div class="value" id="battery-volts"></div>
	<div class="value" id="battery-amps"></div>
	<div class="hdr">Load</div>
	<div class="value" id="load-volts"></div>
	<div class="value" id="load-amps"></div>
	<div class="hdr">Solar</div>
	<div class="value" id="solar-volts"></div>
	<div class="value" id="solar-amps"></div>
</div>
