		<div class="panel">
			<legend>Status</legend>
			<textarea id="status" readonly rows="2"></textarea>
		</div>
		<div class="panel">
			<legend>System</legend>
			<textarea id="system" readonly rows="2"></textarea>
		</div>
		<div class="panel">
			<legend>Controller</legend>
			<textarea id="controller" readonly rows="1"></textarea>
		</div>
		<div class="panel">
			<legend>Battery</legend>
			<textarea id="battery" readonly rows="5"></textarea>
		</div>
		<div class="panel">
			<legend>Load</legend>
			<textarea id="load" readonly rows="2"></textarea>
		</div>
		<div class="panel">
			<legend>Solar</legend>
			<textarea id="solar" readonly rows="2"></textarea>
		</div>
