<ul>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/prostar/">Morningstar Prostar PS-30M Solar Charge Controller</a></li>
	<li>1x <a target="_blank" href="https://www.morningstarcorp.com/products/pc-meterbus-adapter/">Morningstar PC Meterbus Adapter</a></li>
	<li>1x <a target="_blank" href="">RS232 to USB cable</a></li>
</ul>
